<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dianna" connectionString="Data Source=192.168.1.175;Initial Catalog=dianna;Persist Security Info=True;User ID=root;Password=admin" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>